// bower:scss
// endbower

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.ip5s {
  width: 308px;
  height: 535px;
  background: url("/images/_iPhone5_5s.png") no-repeat;
  background-size: 308px 535px;
  opacity: 1;
}

.ip5c {
  width: 308px;
  height: 535px;
  background: url("/images/_iPhone5c.png") no-repeat;
  background-size: 308px 535px;
  opacity: 1;
}

.ip6 {
  width: 330px;
  height: 590px;
  background: url("/images/_iPhone6.png") no-repeat;
  background-size: 330px 590px;
  opacity: 1;
}

#slider-vertical {
//  float: left;
//  clear: left;
//  margin: 15px;
}
